doctype html
title croc.farm - let the animals help you!
link(rel='stylesheet', href='teeth/croclipstick.css', type='text/css')
body
  = this is from pug
  #crocfarm!= app
  script(src='teeth/crocfarm.js')
