doctype html

title croc.farm - remember the animals!
base(href='http://localhost:8000')
link(rel='stylesheet', href='riot.css', type='text/css')

body
  app
  script(src='vendor/riot.js')
  script(src='tags.js')
  script(src='client.js')
