doctype html

title croc.farm - let the animals help you!
link(rel='stylesheet', href='riot.css', type='text/css')

body
  = "this is from pug"
  app
  script(src='vendor/riot.js')
  script(src='tags.js')
  script(src='client.js')
