:global
  h1, h2, h3, h4, h5, h6
    margin-top: 5px 
    color green

  body
    background white
    padding: 11px 51px 41px
    font-family Arial, sans-serif
  
:local
  .area
    border: 1px solid green
    background red
